---
layout: splash
title: Motionsplan
description: "Træningsøvelser, træningsprogrammer og viden om træning."
author_profile: true
header:
  overlay_image: /assets/images/frontpage.jpg
intro:
  - excerpt: 'Tilmeld dig Facebookgruppen &nbsp; [<i class="fab fa-facebook-f"></i> Motionsplan](https://www.facebook.com/motionsplan/){: .btn .btn--facebook}'
feature_row:
  - image_path: /assets/images/1081787_f520.jpg
    alt: "Træningsøvelser"
    title: "Træningsøvelser"
    excerpt: "På motionsplan.dk kan du finde inspiration til en masse forskellige træningsøvelser - og du er også meget velkommen til at sende dine egne øvelser ind, hvis du synes de mangler."
    url: "/traeningsoevelser/"
    btn_label: "Se øvelser"
    btn_class: "btn--primary"
  - image_path: /assets/images/Personal_trainer.jpg
    alt: "Træningsprogrammer"
    title: "Træningsprogrammer"
    excerpt: "På motionsplan.dk kan du lave dine egne træningsprogrammer baseret på vores store øvelsesbibliotek. Du kan også se nogle af de eksisterende træningsprogrammer."
    url: "/traeningsprogrammer/"
    btn_label: "Se træningsprogrammer"
    btn_class: "btn--primary"
  - image_path: /assets/images/vægtløfter.jpg
    alt: "Bliv klogere"
    title: "Bliv klogere"
    excerpt: "På motionsplan.dk har vi en lang række artikler. Vi er altid på udkig efter den nyeste viden og inspiration, så du er også meget velkommen til at bidrage og deltage i diskussionen."
    url: "/blog/"
    btn_label: "Læs artikler"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

Motionsplan er udarbejdet af lærere på <a href="http://www.vih.dk/">Vejle Idrætshøjskole</a>.
