---
layout: splash
title: Motionsplan
description: "Træningsøvelser, træningsprogrammer og viden om træning."
author_profile: true
intro:
  - excerpt: 'Tilmeld dig Facebookgruppen &nbsp; [<i class="fab fa-facebook-f"></i> Motionsplan](https://www.facebook.com/motionsplan/){: .btn .btn--facebook}'
feature_row:
  - image_path: https://motionsplan.dk/sites/motionsplan.dk/files/styles/3-4-col-widget/public/images/1081787_f520.jpg?itok=T9bzmhk1
    alt: "Træningsøvelser"
    title: "Træningsøvelser"
    excerpt: "På motionsplan.dk kan du finde inspiration til en masse forskellige træningsøvelser - og du er også meget velkommen til at sende dine egne øvelser ind, hvis du synes de mangler."
    url: "/traeningsoevelser/"
    btn_label: "Se øvelser"
    btn_class: "btn--primary"
  - image_path: https://motionsplan.dk/sites/motionsplan.dk/files/styles/3-4-col-widget/public/images/Personal_trainer_monitoring_a_client%27s_movement_during_a_fitball_exercise.JPG?itok=q9DepnWk
    alt: "Træningsprogrammer"
    title: "Træningsprogrammer"
    excerpt: "På motionsplan.dk kan du lave dine egne træningsprogrammer baseret på vores store øvelsesbibliotek. Du kan også se nogle af de eksisterende træningsprogrammer."
    url: "/traeningsprogrammer/"
    btn_label: "Se træningsprogrammer"
    btn_class: "btn--primary"
  - image_path: https://motionsplan.dk/sites/motionsplan.dk/files/styles/3-4-col-widget/public/images/v%C3%A6gtl%C3%B8fter.jpg?itok=onM0MNxo
    alt: "Bliv klogere"
    title: "Bliv klogere"
    excerpt: "På motionsplan.dk har vi en lang række artikler. Vi er altid på udkig efter den nyeste viden og inspiration, så du er også meget velkommen til at bidrage og deltage i diskussionen."
    url: "/blog/"
    btn_label: "Læs artikler"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

Motionsplan er udarbejdet af lærere på <a href="http://www.vih.dk/">Vejle Idrætshøjskole</a>.
