---
layout: splash
title: Motionsplan - træningsøvelser og træningsprogrammer
description: "Træningsøvelser, træningsprogrammer og viden om styrketræning, løbetræning, fitness og restitution."
author_profile: true
header:
  overlay_image: https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80
  caption: "Photo by Chase Kinney on Unsplash"
intro:
  - excerpt: 'Tilmeld dig Facebookgruppen &nbsp; [<i class="fab fa-facebook-f"></i> Motionsplan](https://www.facebook.com/motionsplan/){: .btn .btn--facebook}'
feature_row:
  - image_path: https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80
    alt: "Træningsøvelser"
    title: "Træningsøvelser"
    excerpt: "På motionsplan.dk kan du finde inspiration til en masse forskellige træningsøvelser til fitness, styrketræning, yoga og løb. Du er også meget velkommen til at foreslå øvelser."
    url: "/traeningsoevelser/"
    btn_label: "Se øvelser"
    btn_class: "btn--success"
  - image_path: https://images.unsplash.com/photo-1544899489-a083461b088c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80
    alt: "Træningsprogrammer"
    title: "Træningsprogrammer"
    excerpt: "På motionsplan.dk kan du få inspiration til dine egne træningsprogrammer baseret på vores store øvelsesbibliotek. Du kan også se nogle af de eksisterende træningsprogrammer."
    url: "/traeningsprogrammer/"
    btn_label: "Se træningsprogrammer"
    btn_class: "btn--danger"
  - image_path: https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80
    alt: "Bliv klogere"
    title: "Bliv klogere"
    excerpt: "Vi har en lang række artikler om generel træning, fitness, styrketræning og løbetræning. Vi er altid på udkig efter den nyeste viden og inspiration - og du er velkommen i diskussionen."
    url: "/blog/"
    btn_label: "Læs artikler"
    btn_class: "btn--info"
feature_row_ads:
  - image_path: /assets/images/logo/apuls.png
    alt: "Apuls"
    title: "Apuls"
    excerpt: "Apuls sælger til interesserede i træning/fitness, men vi har også et stort udvalg indenfor vinter, sport, pleje, vand, wellness, kosttilskud m.v."
    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=39091
    btn_label: "Besøg Apuls*"
    btn_class: "btn--success"
#  - image_path: https://images.unsplash.com/photo-1544899489-a083461b088c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80
#    alt: "Billigsport24.dk"
#    title: "Billigsport24.dk"
#    excerpt: "Billigsport24.dk - Online salg af sportsprodukter på Internettet. Spar mellem 10-60%. Sikker handel på Nettet, shoppen er E-mærket. Din sikkerhed for en tryg handel. Vi tilbyder alle de kendte mærker, Nike, Puma, Adidas, North Face, Stiga, Polar, Helly Hansen m.m."
#    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=9397
#    btn_label: "Besøg BilligSport24*"
#    btn_class: "btn--danger"
#  - image_path: /assets/images/logo/bodylab.png
#    alt: "Bodylab"
#    title: "Bodylab"
#    excerpt: "Bodylab er Dks største producent og af sportsprodukter, proteinpulver, kreatin og andre kosttilskud. Via Bodylab.dk handler kunderne direkte med fabrikken udenom fordyrende mellemled."
#    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=11522
#    btn_label: "Besøg Bodylab*"
#    btn_class: "btn--info"
  - image_path: /assets/images/logo/denintelligentekrop.png
    alt: "Den Intelligente Krop"
    title: "Den Intelligente Krop"
    excerpt: "Vi er Danmarks førende webshop indenfor ´en sund krop i udvikling´. Vi har langt det meste indenfor træningsudstyr til Pilates, yoga, crossfit osv."
    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=38484
    btn_label: "Den Intelligente Krop*"
    btn_class: "btn--info"
  - image_path: /assets/images/logo/fitnesstorvet.png
    alt: "Fitnesstorvet.dk"
    title: "Fitnesstorvet.dk"
    excerpt: "Salg af Fitnessudstyr. Stort udvalg af fitnessudstyr af høj kvalitet til gode priser. Førende mærker: Peak Fitness, Kettler, Reebok osv. Høj service og hurtig levering."
    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=49758
    btn_label: "Fitnesstorvet.dk*"
    btn_class: "btn--info"
  - image_path: /assets/images/logo/getbig.png
    alt: "Getbig.dk"
    title: "Getbig.dk"
    excerpt: "Danmarks største forhandlere med produkter indenfor fitnessbranchen. Vi er kendt for gode priser og god kvalitet, og gør både i kosttilskud som proteinpulver, kreatin og weightgainer samt i fitness udstyr ex. kettlebells, håndvægte mv."
    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=21411
    btn_label: "Besøg Getbig.dk*"
    btn_class: "btn--info"
#  - image_path: /assets/images/logo/bodyman.png
#    alt: "Bodyman.dk"
#    title: "Bodyman.dk"
#    excerpt: "Salg af kosttilskud og fitnesstøj."
#    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=20604
#    btn_label: "Besøg Bodyman*"
#    btn_class: "btn--info"
#  - image_path: https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80
#    alt: "KINETIK"
#    title: "KINETIK"
#    excerpt: "KINETIK Vægtvest VX1 er et nyt og top professionelt produkt på det danske fitness marked! Optimerer al form for træning! #crossfit #calisthenics #bodybuilding"
#    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=67046
#    btn_label: "Besøg KINETIK*"
#    btn_class: "btn--info"
  - image_path: /assets/images/logo/highonlife.png
    alt: "High On Life"
    title: "High On Life"
    excerpt: "High on Life by Mads Bo er en webshop, der gerne vil fremme den sunde livsstil gennem juicer, smoothie og inspirere til at spise mere naturligt, økologisk og plantebaseret."
    url: https://www.partner-ads.com/dk/klikbanner.php?partnerid=28187&bannerid=67046
    btn_label: "Besøg High On Life*"
    btn_class: "btn--info"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h2>Samarbejdspartnere (reklamelinks)</h2>

{% include feature_row id="feature_row_ads" %}

<p>Motionsplan er udarbejdet af lærere på <a href="https://www.vih.dk">Vejle Idrætshøjskole</a>.</p>
