<form class="calculator" id="calculator_etpunkttest">
    <fieldset>
        <legend>Åstrands et-punkttest. Indtast de målte værdier.</legend>
        <div class="form-group">
            <label for="work">Arbejdsbelastning</label>
            <select name="arb" id="work">
                <option value="50">50 watt</option>
                <option value="75">75 watt</option>
                <option value="100" selected="selected">100 watt</option>
                <option value="150">150 watt</option>
            </select>
        </div>
        <div class="form-group">
            <label for="hr">Puls ved denne belastning (slag / min)</label>
            <input type="number" min="60" max="250" name="puls" id="hr" placeholder="Puls (slag / min)">
        </div>
        <div class="form-group">
            <label for="gender">Køn</label>
            <select name="koen" id="gender">
                <option value="1">Mand</option>
                <option value="0">Kvinde</option>
            </select>
        </div>
        <div class="form-group">
            <label for="age">Alder (år)</label>
            <input type="number" min="5" max="120" placeholder="Alder i år" name="alder">
        </div>
        <div class="form-group">
            <label for="weight">Vægt</label>
            <input type="number" min="20" max="200" name="vaegt" id="weight" placeholder="Vægt i kg" step="0.1">
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="vo2max">Maximal iltoptagelse (l/min)</label>
            <input name="Iltoptag" id="vo2max" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="kondital">Kondital (ml/kg/min)</label>
            <input name="Kondital" id="kondital" disabled="disabled">
        </div>
    </fieldset>
</form>
