<form class="calculator" id="calculator_maxhr">
    <fieldset>
        <legend>Udregn maxpulsen (HR<sub>max</sub>)</legend>
        <div class="form-group">
            <label for="mxAld">Alder (år)</label>
            <input type="number" min="0" max="120" id="mxAld" placeholder="Alder i år" />
        </div>
        <input type="submit" value="Beregn" />
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="mxMaxpul">Maxpuls (slag/min)</label>
            <input id="mxMaxpul" disabled="disabled">
        </div>
    </fieldset>
</form>
