<form class="calculator" id="calculator_cooper_test">
    <fieldset>
        <legend>Cooper 12 minutter. Indtast de målte værdier</legend>
        <div class="form-group">
            <label for="distance">Distance (m)</label>
            <input type="number" min="500" max="6000" id="distance" placeholder="Distance i m" />
        </div>
        <input type="submit" value="Beregn" />
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="kondital">Kondital (ml/kg/min)</label>
            <input type="text" id="kondital" placeholder="Beregnes" disabled="disabled" />
        </div>
    </fieldset>
</form>
