<table border="0" width="100%" cellspacing="1" cellpadding="4" align="center">
    <tbody>
        <tr valign="center">
            <td bgcolor="#daecef"><a href="#mu26">Mænd 18-26 år</a></td>
            <td bgcolor="#daecef"><a href="#mo26">Mænd 27-50år</a></td>
            <td bgcolor="#f0dbf0"><a href="#wu26">Kvinder 18-26 år</a></td>
            <td bgcolor="#f0dbf0"><a href="#wo26">Kvinder 27-50år</a></td>
        </tr>
    </tbody>
</table>

<hr />

<h3 id="mu26">Mænd 18-26 år</h3>
<form name="mu26">
    <table border="0" cellspacing="1" cellpadding="4" align="right" bgcolor="#990000">
        <tbody>
            <tr valign="middle" bgcolor="#CCFFCC">
                <td colspan="2" bgcolor="#FFFFFF">Brug et målebånd til at måle omkredsen i millimeter på de angivne steder</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Overarm: (Strakt arm, mål midt mellem skulder og albue)</td>
                <td><input name="Overarm_mu26" size="7" type="text" value="280" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Talje: (2 cm over navlen)</td>
                <td><input name="Mave_mu26" size="7" type="text" value="850" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Underarm: (Strakt arm, største omkreds)</td>
                <td><input name="Underarm_mu26" size="7" type="text" value="270" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td></td>
                <td><input name="submit1" type="button" value="Beregn" id="calc_mu26" /></td>
            </tr>
            <tr valign="middle" bgcolor="#990000">
                <td bgcolor="#648CB4">Fedtprocent</td>
                <td bgcolor="#648CB4">
                    <input maxlength="5" name="Fedt_mu26" size="7" type="text" id="fat_mu26" disabled="disabled" /> %
                </td>
            </tr>
        </tbody>
    </table>
</form>

<h3 id="mo26">Mænd 27-50 år</h3>
<form name="mo26">
    <table border="0" cellspacing="1" cellpadding="4" align="right" bgcolor="#990000">
        <tbody>
            <tr valign="middle" bgcolor="#CCFFCC">
                <td colspan="2" bgcolor="#FFFFFF">Brug et målebånd til at måle omkredsen i millimeter<br /> på de angivne steder</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Hofter: (Største omkreds ved ballerne)</td>
                <td><input name="Hofter_mo26" size="7" type="text" value="900" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Talje: (2 cm over navlen)</td>
                <td><input name="Mave_mo26" size="7" type="text" value="850" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Underarm: (Strakt arm, største omkreds)</td>
                <td><input name="Underarm_mo26" size="7" type="text" value="270" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td></td>
                <td><input name="submit2" type="button" value="Beregn" id="calc_mo26" /></td>
            </tr>
            <tr valign="middle" bgcolor="#990000">
                <td bgcolor="#648CB4">Fedtprocent</td>
                <td bgcolor="#648CB4">
                    <input maxlength="5" name="Fedt_mo26" size="7" type="text" id="fat_mo26" disabled="disabled" /> %
                </td>
            </tr>
        </tbody>
    </table>
</form>

<h3 id="wu26">Kvinder 18-26 år</h3>
<form name="wu26">
    <table border="0" cellspacing="1" cellpadding="4" align="right" bgcolor="#990000">
        <tbody>
            <tr valign="middle" bgcolor="#CCFFCC">
                <td colspan="2" bgcolor="#FFFFFF">Brug et målebånd til at måle omkredsen i millimeter<br /> på de angivne steder</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Talje: (2 cm over navlen)</td>
                <td><input name="Mave_wu26" size="7" type="text" value="700" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Lår: (Lige under ballen)</td>
                <td><input name="Laar_wu26" size="7" type="text" value="500" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Underarm: (Strakt arm, største omkreds)</td>
                <td><input name="Underarm_wu26" size="7" type="text" value="200" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td></td>
                <td><input name="submit3" type="button" value="Beregn" id="calc_wu26" /></td>
            </tr>
            <tr valign="middle" bgcolor="#990000">
                <td bgcolor="#648CB4">Fedtprocent</td>
                <td bgcolor="#648CB4">
                    <input maxlength="5" name="Fedt_wu26" size="7" type="text" id="fat_wu26"  disabled="disabled" /> %
                </td>
            </tr>
        </tbody>
    </table>
</form>

<h3 id="wo26">Kvinder 27-50 år</h3>
<form name="wo26">
    <table border="0" cellspacing="1" cellpadding="4" align="right" bgcolor="#990000">
        <tbody>
            <tr valign="middle" bgcolor="#CCFFCC">
                <td colspan="2" bgcolor="#FFFFFF">Brug et målebånd til at måle omkredsen i millimeter<br /> på de angivne steder</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Talje: (2 cm over navlen)</td>
                <td><input name="Mave_wo26" size="7" type="text" value="700" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Lår: (Lige under ballen)</td>
                <td><input name="Laar_wo26" size="7" type="text" value="500" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td>Læg: (Strakt ben, største omkreds)</td>
                <td><input name="Laeg_wo26" size="7" type="text" value="300" /> mm</td>
            </tr>
            <tr valign="middle" bgcolor="#F3F3EB">
                <td></td>
                <td><input name="submit4" type="button" value="Beregn" id="calc_wo26" /></td>
            </tr>
            <tr valign="middle" bgcolor="#990000">
                <td bgcolor="#648CB4">Fedtprocent
                </td>
                <td bgcolor="#648CB4">
                    <input maxlength="5" name="Fedt_wo26" size="7" type="text" id="fat_wo26" disabled="disabled" /> %
                </td>
            </tr>
        </tbody>
    </table>
</form>
