<form class="calculator" id="calculator_karvonen_intensity">
    <fieldset>
        <legend>Udregn Karvonens intensitetszoner til pulstræning.</legend>
        <div class="form-group">
            <label>Hvilepuls (HR<sub>rest</sub>)</label>
            <input id="karvonen_min_hr" min="30" max="100" type="number" />
        </div>
        <div class="form-group">
            <label>Maxpuls (HR<sub>max</sub>)</label>
            <input id="karvonen_max_hr" min="100" max="250" type="number" />
        </div>
        <input type="submit" value="Beregn" />
    </fieldset>

    <fieldset class="results">
        <legend>Karvonen intensitetszoner</legend>
        <table>
            <tbody>
                <tr>
                    <th>Intensity Zones</th>
                    <th>Heart Rate Intensity</th>
                    <th>Low HR</th>
                    <td>&nbsp;</td>
                    <th>High HR</th>
                </tr>
                <tr>
                    <td>Warm Up Zone</td>
                    <td>50% to 60%</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone1_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone1_b"></td>
                </tr>
                <tr>
                    <td>Fat Burn Zone</td>
                    <td>60% to 70%</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone2_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone2_b"></td>
                </tr>
                <tr>
                    <td>Aerobic Zone</td>
                    <td>70% to 80%</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone3_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone3_b"></td>
                </tr>
                <tr>
                    <td>Anaerobic Threshold Zone</td>
                    <td>80% to 90%</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone4_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone4_b"></td>
                </tr>
                <tr>
                    <td>VO<sub>2</sub> Max Zone</td>
                    <td>90% to 100%</td>
                    <td><input type="text" disabled="disabled" id="karvonen_zone5_a"></td>
                    <td>-</td>
                    <td><input type="text" disabled="disabled"  id="karvonen_zone5_b"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
