<form class="calculator">
    <fieldset>
        <legend>Indtast tid og pulssamt personlige data.</legend>
        <div class="form-group">
            <label for="">Tiden for at gå 1,6 km</label>
            <input name="Min" type="text" value="17" /> minutter 
            <input name="Sek" type="text" value="20" /> sek.
        </div>
        <div class="form-group">
            <label>Pulsefter 1,6 km (slag/min)</label>
            <input name="Pul" type="text" value="110" />
        </div>
        <div class="form-group">
            <label>Køn</label>
            <select name="Koen" size="1">
                <option value="1">Mand</option>
                <option value="0">Kvinde</option>
            </select>
        </div>
        <div class="form-group">
            <label>Alder (år)</label>
            <input name="Alder" type="text" value="40" />
        </div>
        <div class="form-group">
            <label>Vægt (kg)</label>
            <input name="Vaegt" type="text" value="70" />
        </div>
        <input type="button" value="Beregn" id="calculate_16km" />
    </fieldset>
    <fieldset class="results">
        <div class="form-row">
            <label>Iltoptagelse (l/min)</label>
            <input name="Iltoptag" type="text" disabled="disabled" />
        </div>
        <div class="form-group">
            <label>Kondital (ml/kg/min)</label>
            <input name="Konditalk" type="text" disabled="disabled" />
        </div>
    </fieldset>
</form>
