<form action="#">
    <fieldset class="radio">
        <legend>Køn</legend>
        <input name="sex" type="radio" value="man" id="checkbox-man" /> <label for="checkbox-man">Mand</label>
        <input name="sex" type="radio" value="woman" id="checkbox-woman" /> <label for="checkbox-woman">Kvinde</label>
    </fieldset>
    <fieldset>
        <div class="form-inline">
            <label>Alder</label>
            <input class="input-mini" maxlength="3" name="age" id="age" size="3" type="text" value="" /> <span class="help-inline">år</span>
        </div>
        <label class="form-inline">Højde
            <input class="input-mini" maxlength="3" name="height" id="height" size="3" type="text" value="" /> <span class="help-inline">cm</span>
        </label>
        <label class="form-inline">Vægt 
            <input class="input-mini" maxlength="3" name="weight" id="weight" size="3" type="text" value="" /> <span class="help-inline">kg</span>
        </label>
        <input class="btn btn--large btn--success" name="submit" id="calculate_fat_percent" type="button" value="Udregn" />
    </fieldset>
    <fieldset>
        <label class="form-inline">Body mass index (BMI)
            <input class="input-mini" disabled="disabled" name="BMI" id="BMI" size="6" type="text" value="" /><span class="help-inline">(udregnes)</span>
        </label>
        <label class="form-inline">Fedtmasse
            <input class="input-mini" disabled="disabled" name="fedtmasse" id="fat_mass" size="6" type="text" value="" /> <span class="help-inline">kg (udregnes)</span>
        </label>
        <label class="form-inline">Fedtprocent
            <input class="input-mini" disabled="disabled" name="fedtprocent" id="fat_percent" size="6" type="text" value="" /> <span class="help-inline">% (udregnes)</span>
        </label>
    </fieldset>
</form>
