<form class="calculator" id="calculator_fitness_wattmax_children">
    <fieldset>
        <legend>Watt-max-test for børn. Indtast den højeste belastning, der blev nået, samt hvor mange sekunder der blev kørt på denne belastning.</legend>
        <div class="form-group">
            <label for="">Højeste belastning der blev nået (watt)</label>
            <input name="Wmax" min="50" max="1000" type="number" placeholder="fx 240" />
        </div>
        <div class="form-group">
            <label for="">Antal sekunder på højeste belastning (sek)</label>
            <input name="Sek" min="0" max="600" type="number" placeholder="fx 60" />
        </div>
        <div class="form-group">
            <label for="">Vægt (kg)</label>
            <input name="Vaegt" type="number" min="20" max="200" placeholder="fx 70" />
        </div>
        <input type="submit" value="Beregn" />
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="">Iltoptagelse (l/min)</label>
            <input name="Iltoptag" type="text" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="">Kondital (ml/kg/min)</label>
            <input name="Kondital" type="text" disabled="disabled" />
        </div>
    </fieldset>
</form>
