<form class="calculator">
  <fieldset>
    <legend>Beregning af Index100.</legend>
    <div class="form-group">
      <label>Dit løft (kg)</label>
      <input type="text" name="Loeft" value="80">
    </div>
    <div class="form-group">
      <label>Din kropsvægt (kg)</label>
      <input type="text" name="Vaegt" value="80">
    </div>
    <input type="button" value="Beregn" id="calculate_index100">
  </fieldset>
  <fieldset class="results">
    <div class="form-group">
      <label>Dit løft hvis du vejede 100 kg (kg)</label>
      <input type="text" name="Krop100" maxlength="5" disabled="disabled">
    </div>
  </fieldset>
</form>
