<form class="calculator">
    <fieldset>
        <legend>Indtast de målte værdier</legend>
        <div class="form-group">
            <label for="plHvil">Hvilepuls (slag/min)</label>
            <input type="text" id="plHvil" value="60" />
        </div>
        <div class="form-group">
            <label for="plMaxp">Maxpuls (slag/min)</label>
            <input type="text" id="plMaxp" value="180" />
        </div>
        <div class="form-group">
            <label for="plVgt">Vægt (kg)</label>
            <input type="text" id="plVgt" value="70" />
        </div>
        <input type="button" id="plCalBtn" value="Beregn" />
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="plIltop">Maximal iltoptagelse (l/min)</label>
            <input type="text" id="plIltop" placeholder="Beregnes" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="plKond">Kondital (ml/kg/min)</label>
            <input type="text" id="plKond" placeholder="Beregnes" disabled="disabled" />
        </div>
    </fieldset>
</form>
