<form class="calculator" id="calculator_idealweight">
    <fieldset>
        <legend>Udregning af idealvægt. Indtast værdier</legend>
        <div class="form-group">
            <label for="height">Højde (cm) - minimum 152 cm</label>
            <input name="height" id="height" type="number" min="152" max="272" placeholder="Højde i cm" step="0.1" />
        </div>
        <fieldset>
            <legend>Køn</legend>
            <label for="checkbox-man" class="radio">
                <input name="sex" type="radio" value="man" id="checkbox-man"> &#9794; Mand
            </label>
            <label for="checkbox-woman" class="radio">
                <input name="sex" type="radio" value="woman" id="checkbox-woman"> &#9792; Kvinde
            </label>
        </fieldset>
        <input type="submit" value="Udregn" />
    </fieldset>
    <fieldset class="results" disabled="disabled">
        <legend>Idealvægt fra forskellige formler</legend>
        <label>J. D. Robinson (1983) (kg)
            <input disabled="disabled" name="idealweight_robinson" id="idealweight_robinson" type="text" placeholder="" />
        </label>
        <label>Miller Formula D.R. (1983) (kg)
            <input disabled="disabled" name="idealweight_miller" id="idealweight_miller" type="text" placeholder="" />
        </label>
        <label>G. J. Hamwi (1964) (kg)
            <input disabled="disabled" name="idealweight_hamwi" id="idealweight_hamwi" type="text" placeholder="" />
        </label>
        <label>B. J. Devine (1974) (kg)
            <input disabled="disabled" name="idealweight_devine" id="idealweight_devine" type="text" placeholder="" />
        </label>
    </fieldset>
</form>
