<form class="calculator" id="calculator_hr_intensity_hrr">
  <fieldset>
    <legend>Beregning af arbejdspulsens intensitet i procent af <strong>pulsreserven</strong></legend>
    <div class="form-group">
      <label>Hvilepuls</label>
      <input type="number" min="30" max="100" name="Hpuls">
    </div>
    <div class="form-group">
      <label>Maxpuls</label>
      <input type="number" min="120" max="250" name="Mpuls">
    </div>
    <div class="form-group">
      <label>Arbejdspuls</label>
      <input type="number" min="60" max="250" name="Apuls">
    </div>
    <input type="submit" value="Beregn">
  </fieldset>
  <fieldset class="results">
    <div class="form-group">
      <label>Intensitet (%)</label>
      <input type="text" name="Ialt" disabled="disabled">
    </div>
  </fieldset>
</form>

<form class="calculator" id="calculator_hr_intensity_work">
  <fieldset>
    <legend>Beregning af arbejdspuls baseret på <strong>intensitet i procent af pulsreserven</strong></legend>
    <div class="form-group">
      <label>Hvilepuls</label>
      <input type="number" min="30" max="100" name="Hpuls2">
    </div>
    <div class="form-group">
      <label>Maxpuls</label>
      <input type="number" min="140" max="250" name="Mpuls2">
    </div>
    <div class="form-group">
      <label>Intensitet (%)</label>
      <input type="number" min="0" max="100" name="Intens2">
    </div>
    <input type="submit" value="Beregn">
  </fieldset>
  <fieldset class="results">
    <div class="form-group">
      <label>Arbejdspuls</label>
      <input type="number" name="Ialt2" disabled="disabled">
    </div>
  </fieldset>
</form>

<form class="calculator" id="calculator_hr_intensity_from_max">
  <fieldset>
    <legend>Beregning af procentvise intensitet arbejdspulsen er ift. maksimalpulsen.</legend>
    <div class="form-group">
      <label>Maxpuls (slag/min)</label>
      <input type="number" min="140" max="250" name="Mpuls3">
    </div>
    <div class="form-group">
      <label>Arbejdspuls (slag/min)</label>
      <input type="number" min="60" max="250" name="Apuls3">
    </div>
    <input type="submit" value="Beregn">
  </fieldset>
  <fieldset class="results">
    <div class="form-group">
      <label>Intensitet (% af maxpuls)</label>
      <input type="number" name="Ialt3" disabled="disabled">
    </div>
  </fieldset>
</form>
