<form class="calculator" id="calculator_fat_percent">
    <fieldset>
        <legend>Udregning af fedtprocent. Indtast værdier</legend>
        <fieldset>
            <legend>Køn</legend>
            <label for="checkbox-man" class="radio">
                <input name="sex" type="radio" value="man" id="checkbox-man"> &#9794; Mand
            </label>
            <label for="checkbox-woman" class="radio">
                <input name="sex" type="radio" value="woman" id="checkbox-woman"> &#9792; Kvinde
            </label>
        </fieldset>
        <div class="form-group">
            <label for="age">Alder (år)</label>
            <input name="age" id="age" type="number" min="10" max="100" placeholder="Alder i år">
        </div>
        <div class="form-group">
            <label for="height">Højde (cm)</label>
            <input name="height" id="height" type="number" min="100" max="272" placeholder="Højde i cm" step="0.1">
        </div>
        <div class="form-group">
            <label for="weight">Vægt (kg)</label>
            <input name="weight" id="weight" type="number" min="30" max="200" placeholder="Vægt i kg" step="0.1">
        </div>
        <input type="submit" value="Udregn">
    </fieldset>
    <fieldset class="results">
        <legend>Resultater</legend>
        <label>Body mass index (BMI)
            <input disabled="disabled" name="BMI" id="BMI" type="text" placeholder="Venter på udregning">
        </label>
        <label>Fedtprocent (Heitmann)
            <input disabled="disabled" name="fedtprocent" id="fat_percent_heitmann" type="text" placeholder="Venter på udregning">
        </label>
        <label>Fedtprocent (Durnin & Wormersly)
            <input disabled="disabled" name="fedtprocent" id="fat_percent_durnin" type="text" placeholder="Venter på udregning">
        </label>
        <label>Fedtprocent (Duerenberg)
            <input disabled="disabled" name="fedtprocent" id="fat_percent_duerenberg" type="text" placeholder="Venter på udregning">
        </label>
    </fieldset>
</form>
