<form class="calculator">
    <fieldset>
        <legend>Vælg de værdier der passer på dig og tryk på Beregn.</legend>
        <div class="form-group">
            <label for="age">Alder (år)</label>
            <input type="text" name="Alder" id="age" />
        </div>
        <div class="form-group">
            <label for="hrrest">Hvilepuls (slag/min)</label>
            <input type="text" name="Hvilepuls" id="hrrest" />
        </div>
        <div class="form-group">
            <label for="bloodpressure">Blodtryk</label>
            <select name="Blodtryk" id="bloodpressure">
                <option value="0">Under 140/90</option>
                <option value="2">Over 140/90</option>
            </select>
        </div>
        <div class="form-group">
            <label for="diabetes">Sukkersyge</label>
            <select name="Sukkersyge" id="diabetes">
                <option value="0">Nej</option>
                <option value="4">Ja</option>
            </select>
        </div>
        <div class="form-group">
            <label for="smoker">Ryger</label>
            <select name="Ryger" id="smoker">
                <option value="0">Aldrig</option>
                <option value="1">Tidligere</option>
                <option value="4">Nuværende</option>
            </select>
        </div>
        <div class="form-group">
            <label for="bmi">BMI</label>
            <input type="text" name="Bmi" id="bmi" />
        </div>
        <div class="form-group">
            <label for="kondital">Kondital (ml/kg/min)</label>
            <input type="text" name="Kondital" id="kondital" />
        </div>
        <input type="button" value="Beregn" id="calculate_cooper" />
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="Risikopoint">Risiko-score (point)</label>
            <input id="Risikopoint" name="Risikopoint" type="text" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="Risiko1">Absolut risiko (%)</label>
            <input id="Risiko1" name="Risiko1" type="text" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="Risiko2">Relativ risiko</label>
            <input id="Risiko2" name="Risiko2" type="text" disabled="disabled" /> 
            <span class="help-block">gange så stor risiko som gennemsnitlig jævnaldrende</span>
        </div>
    </fieldset>
</form>
