<form class="calculator" id="calculator_index23">
    <fieldset>
        <legend>Udregn Index 23</legend>
        <div class="form-group">
            <label for="height">Højde (cm)</label>
            <input type="number" min="40" max="272" id="height" placeholder="Højde i cm" step="0.1" />
        </div>
        <div class="form-group">
            <label for="weight">Vægt (kg)</label>
            <input type="number" min="20" max="200" id="weight" placeholder="Vægt i kg" step="0.1" />
        </div>
        <div class="form-group">
            <label for="kondital">Kondital (ml/kg/min)</label>
            <input type="number" min="10" max="100" id="kondital" placeholder="Kondital (ml/kg/min)" step="0.1" />
        </div>
        <input type="submit" value="Beregn" />
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="index23">Kondital<sub>index23</sub></label>
            <input id="index23" disabled="disabled">
        </div>
    </fieldset>
</form>
