<form class="calculator">
    <fieldset>
        <div class="form-group">
            <label for="mxAld">Alder (år)</label>
            <input type="text" maxlength="3" id="mxAld" placeholder="Alder i år" />
        </div>
        <input type="button" id="mxCalBtn" value="Beregn" />
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="mxMaxpul">Maxpuls (slag/min)</label>
            <input id="mxMaxpul" disabled="disabled">
        </div>
    </fieldset>
</form>
