<form class="calculator" id="calculator_walktest_6min">
    <fieldset>
        <legend>6 minutters gåtest. Indtast oplysninger.</legend>
        <div class="form-group">
            <label for="Meter">Distance tilbagelagt (meter)</label>
            <input type="number" min="50" max="1200" placeholder="fx 400" name="Meter" id="Meter">
        </div>
        <div class="form-group">
            <label for="Koen">Køn</label>
            <select name="Koen" id="Koen">
                <option value="1">Mand</option>
                <option value="0">Kvinde</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Alder">Alder (år)</label>
            <input type="number" min="10" max="100" placeholder="fx 60" name="Alder" id="Alder">
        </div>
        <div class="form-group">
            <label for="Hoejde">Højde (cm)</label>
            <input type="number" min="50" max="272" placeholder="fx 170" name="Hoejde" id="Hoejde" step="0.1">
        </div>
        <div class="form-group">
            <label for="Vaegt">Vægt (kg)</label>
            <input type="number" min="20" max="200" placeholder="fx 70" name="Vaegt" id="Vaegt" step="0.1">
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="Refmeter">Referenceværdi (meter)</label>
            <input name="Refmeter" id="Refmeter" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="Procent">Procent af normal (%)</label>
            <input name="Procent" id="Procent" disabled="disabled">
        </div>
    </fieldset>
</form>
