<form class="calculator">
    <fieldset>
        <legend>Indtast distance og persondata</legend>
        <div class="form-group">
            <label for="Meter">Distance tilbagelagt (meter)</label>
            <input value="400" name="Meter" id="Meter">
        </div>
        <div class="form-group">
            <label for="Koen">Køn</label></td>
            <select name="Koen" id="Koen">
                <option value="1">Mand</option>
                <option value="0">Kvinde</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Alder">Alder (år)</label>
            <input value="60" name="Alder" id="Alder">
        </div>
        <div class="form-group">
            <label for="Hoejde">Højde (cm)</label>
            <input value="170" name="Hoejde" id="Hoejde">
        </div>
        <div class="form-group">
            <label for="Vaegt">Vægt (kg)</label>
            <input value="70" name="Vaegt" id="Vaegt">
        </div>
        <input type="button" value="Beregn" id="calculate_6min">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label for="Refmeter">Referenceværdi (meter)</label>
            <input name="Refmeter" id="Refmeter" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="Procent">Procent af normal (%)</label>
            <input name="Procent" id="Procent" disabled="disabled">
        </div>
    </fieldset>
</form>
