<form class="calculator" id="calculator_rm">
    <fieldset>
        <legend>1-RM beregner</legend>        
        <div class="form-group">
            <label for="form-formula">Anvend følgende formel</label>
            <select name="formula" id="form-formula">
                <option value="brzycki">Brzycki (mest udbredte)</option>
                <option value="reynolds">Reynolds</option>
                <option value="epley">Epley</option>
                <option value="lander">Lander</option>
                <option value="lombardi">Lombardi</option>
                <option value="mayhew">Mayhew</option>
                <option value="oconnor">O'Connor</option>
                <option value="wathan">Wathan</option>
                <option value="wendler">Wendler (empirisk)</option>
                <option value="motiononline">Zacho (træningstilstand og køn)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="form-reps">Antal reps</label>
            <input type="number" min="1" max="15" id="form-reps" name="reps" placeholder="fx 5">
        </div>
        <div class="form-group">
            <label for="form-weight">Vægt (kg)</label>
            <input type="number" min="10" max="600" name="weight" id="form-weight" placeholder="fx 50" step="0.1">
        </div>
        <!-- REYNOLDS FORMULA -->
        <div class="form-group reynolds">
            <label for="form-sex">Kropsdel</label>
            <select name="bodypart" id="form-bodypart">
                <option value="lower">Underkrop</option>
                <option value="upper">Overkrop</option>
            </select>
        </div>
        <!-- MOTIONONLINE FORMULA -->
        <div class="form-group motiononline">
            <label for="form-sex">Køn</label>
            <select name="koen" id="form-sex">
                <option value="1">Mand</option>
                <option value="0">Kvinde</option>
            </select>
        </div>
        <div class="form-group motiononline">
            <label for="form-trained">Træningstilstand</label>
            <select name="trained" id="form-trained">
                <option value="1">Trænet</option>
                <option value="0">Utrænet</option>
            </select>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
    <table width="100%">
        <caption>Beregnede RM-værdier</caption>
        <tbody>
            <tr>
                <th>1 RM</th>
                <th>2 RM</th>
                <th>3 RM</th>
                <th>4 RM</th>
                <th>5 RM</th>
                <th>6 RM</th>
                <th>8 RM</th>
                <th>10 RM</th>
                <th>12 RM</th>
                <th>15 RM</th>
            </tr>
            <tr>
                <td>
                    <input disabled="disabled" name="rm1" id="rm1">
                </td>
                <td>
                    <input disabled="disabled" name="rm2" id="rm2">
                </td>
                <td>
                    <input disabled="disabled" name="rm3" id="rm3">
                </td>
                <td>
                    <input disabled="disabled" name="rm4" id="rm4">
                </td>
                <td>
                    <input disabled="disabled" name="rm5" id="rm5">
                </td>
                <td>
                    <input disabled="disabled" name="rm6" id="rm6">
                </td>
                <td>
                    <input disabled="disabled" name="rm8" id="rm8">
                </td>
                <td>
                    <input disabled="disabled" name="rm10" id="rm10">
                </td>
                <td>
                    <input disabled="disabled" name="rm12" id="rm12">
                </td>
                <td>
                    <input disabled="disabled" name="rm15" id="rm15">
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%">
        <caption>Vægt beregnet som procent af 1 RM</caption>
        <tbody>
            <tr>
                <th>100%</th>
                <th>95%</th>
                <th>90%</th>
                <th>85%</th>
                <th>80%</th>
                <th>75%</th>
                <th>70%</th>
                <th>60%</th>
                <th>50%</th>
                <th>40%</th>
            </tr>
            <tr>
                <td>
                    <input disabled="disabled" name="p100" id="p100">
                </td>
                <td>
                    <input disabled="disabled" name="p95" id="p95">
                </td>
                <td>
                    <input disabled="disabled" name="p90" id="p90">
                </td>
                <td>
                    <input disabled="disabled" name="p85" id="p85">
                </td>
                <td>
                    <input disabled="disabled" name="p80" id="p80">
                </td>
                <td>
                    <input disabled="disabled" name="p75" id="p75">
                </td>
                <td>
                    <input disabled="disabled" name="p70" id="p70">
                </td>
                <td>
                    <input disabled="disabled" name="p60" id="p60">
                </td>
                <td>
                    <input disabled="disabled" name="p50" id="p50">
                </td>
                <td>
                    <input disabled="disabled" name="p40" id="p40">
                </td>
            </tr>
        </tbody>
    </table>
    </fieldset>
</form>
