<form name="test" id="fitness-hr">
    <div id="plWrapper">
        <div id="plForm">
            <div id="plHeader">Indtast de målte værdier</div>
            <div id="plInput">
                <div class="plRow">
                    <div class="plrowLft">
                        <label class="plLabel">Hvilepuls:</label>
                    </div>
                    <div class="plrowRgt">
                        <input type="text" class="plInpTxt" id="plHvil" value="60" /><span class="plpostFx">slag/min</span>
                    </div>
                </div>
                <div class="plRow">
                    <div class="plrowLft">
                        <label class="plLabel">Maxpuls:</label>
                    </div>
                    <div class="plrowRgt">
                        <input type="text" class="plInpTxt" id="plMaxp" value="180" /><span class="plpostFx">slag/min</span>
                    </div>
                </div>
                <div class="plRow">
                    <div class="plrowLft">
                        <label class="plLabel">Vægt</label>
                    </div>
                    <div class="plrowRgt">
                        <input type="text" class="plInpTxt" id="plVgt" value="70" /><span class="plpostFx">kg</span>
                    </div>
                </div>
                <div class="plRow">
                    <div class="plrowLft">
                    </div>
                    <div class="plrowRgt">
                        <input type="button" class="plBtns" id="plCalBtn" value="Beregn" />
                    </div>
                </div>
            </div>
        </div>
        <div id="plResults">
            <div id="plresTab"></div>
            <div class="plresRow">
                <div class="plresrowLft">
                    <span class="plresLabel">Maximal iltoptagelse:</span>
                </div>
                <div class="plresrowRgt">
                    <span class="plresTxt" id="plIltop">0</span><span class="plrespostFx">l/min</span>
                </div>
            </div>
            <div class="plresRow">
                <div class="plresrowLft">
                    <span class="plresLabel">Kondital:</span>
                </div>
                <div class="plresrowRgt">
                    <span class="plresTxt" id="plKond">0</span><span class="plrespostFx">ml/kg/min</span>
                </div>
            </div>
        </div>
    </div>
</form>
