<form class="calculator" id="calculator_rm">
    <fieldset>
        <legend>1-RM beregner</legend>
        <div class="form-group">
            <label for="form-formula">Anvend følgende formel</label>
            <select name="formula" id="form-formula">
                <option value="brzycki">Brzycki (mest udbredte)</option>
                <option value="motiononline">Morten Zacho Motion-online.dk</option>
            </select>
        </div>
        <div class="form-group">
            <label for="form-reps">Antal reps</label>
            <input type="number" min="1" max="15" id="form-reps" name="reps" placeholder="fx 5">
        </div>
        <div class="form-group">
            <label for="form-weight">Vægt (kg)</label>
            <input type="number" min="10" max="600" name="weight" id="form-weight" placeholder="fx 50">
        </div>
        <div class="form-group motiononline">
            <label for="form-sex">Køn</label>
            <select name="koen" id="form-sex">
                <option value="1">Mand</option>
                <option value="0">Kvinde</option>
            </select>
        </div>
        <div class="form-group motiononline">
            <label for="form-trained">Træningstilstand</label>
            <select name="trained" id="form-trained">
                <option value="1">Trænet</option>
                <option value="0">Utrænet</option>
            </select>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <table width="100%">
            <caption>Beregnede RM-værdier</caption>
            <thead>
                <tr>
                    <th>1 RM</th>
                    <th>2 RM</th>
                    <th>3 RM</th>
                    <th>4 RM</th>
                    <th>5 RM</th>
                    <th>6 RM</th>
                    <th>8 RM</th>
                    <th>10 RM</th>
                    <th>12 RM</th>
                    <th>15 RM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <output name="rm1" id="rm1"></output>
                    </td>
                    <td>
                        <output name="rm2" id="rm2"></output>
                    </td>
                    <td>
                        <output name="rm3" id="rm3"></output>
                    </td>
                    <td>
                        <output name="rm4" id="rm4"></output>
                    </td>
                    <td>
                        <output name="rm5" id="rm5"></output>
                    </td>
                    <td>
                        <output name="rm6" id="rm6"></output>
                    </td>
                    <td>
                        <output name="rm8" id="rm8"></output>
                    </td>
                    <td>
                        <output name="rm10" id="rm10"></output>
                    </td>
                    <td>
                        <output name="rm12" id="rm12"></output>
                    </td>
                    <td>
                        <output name="rm15" id="rm15"></output>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%">
            <caption>Vægt beregnet som procent af 1 RM</caption>
            <thead>
                <tr>
                    <th>100%</th>
                    <th>95%</th>
                    <th>90%</th>
                    <th>85%</th>
                    <th>80%</th>
                    <th>75%</th>
                    <th>70%</th>
                    <th>60%</th>
                    <th>50%</th>
                    <th>40%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <output name="p100" id="p100"></output>
                    </td>
                    <td>
                        <output name="p95" id="p95"></output>
                    </td>
                    <td>
                        <output name="p90" id="p90"></output>
                    </td>
                    <td>
                        <output name="p85" id="p85"></output>
                    </td>
                    <td>
                        <output name="p80" id="p80"></output>
                    </td>
                    <td>
                        <output name="p75" id="p75"></output>
                    </td>
                    <td>
                        <output name="p70" id="p70"></output>
                    </td>
                    <td>
                        <output name="p60" id="p60"></output>
                    </td>
                    <td>
                        <output name="p50" id="p50"></output>
                    </td>
                    <td>
                        <output name="p40" id="p40"></output>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
