<form name="test2">
    <div id="mxWrapper">
        <div id="mxForm">
            <div id="mxInput">
                <div class="mxRow">
                    <div class="mxrowLft">
                        <label class="mxLabel">Alder:</label>
                    </div>
                    <div class="mxrowRgt">
                        <input type="text" class="mxInpTxt" id="mxAld" value="30" /><span class="mxpostFx">år</span>
                    </div>
                </div>
                <div class="mxRow">
                    <div class="mxrowLft">
                    </div>
                    <div class="mxrowRgt">
                        <input type="button" class="mxBtns" id="mxCalBtn" value="Beregn" />
                    </div>
                </div>
            </div>
        </div>
        <div id="mxResults">
            <div id="mxresTab"></div>
            <div class="mxresRow">
                <div class="mxresrowLft">
                    <span class="mxresLabel">Maxpuls:</span>
                </div>
                <div class="mxresrowRgt">
                    <span class="mxresTxt" id="mxMaxpul">0</span><span class="mxrespostFx"></span>
                </div>
            </div>
        </div>
    </div>
</form>
