<form class="calculator" id="calculator_vmax_bike_vmax">
    <fieldset>
        <legend>Beregning af V<sub>max</sub></legend>
        <div class="form-group">
            <label>Maksimal iltoptagelse (ml/min)</label>
            <input type="number" min="1000" name="Maxvo2" placeholder="Iltoptagelse i ml, fx 4000">
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>V<sub>max</sub> (watt)</label>
            <input type="text" name="Vmax" disabled="disabled">
        </div>
    </fieldset>
</form>

{% include calculate-vmax-running.html unit="watt" module="bike" %}
