<form class="calculator" id="calculator_convert_minkm_kmt_velocity">
    <fieldset>
        <legend>Konverter hastighed</legend>
        <div class="form-group">
            <label>Hastighed (min/km)</label>
            <input type="number" placeholder="min" name="min" min="0" max="10" class="input-mini"> <span class="help-inline">min</span>
            <input type="number" placeholder="sec" name="sec" min="0" max="60" class="input-mini"> <span class="help-inline">sek</span>
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Hastighed (km/t)</label>
            <input type="text" id="velocity_convert_kmt" disabled="disabled" class="input-mini">
        </div>
    </fieldset>
</form>
