<form class="calculator" id="calculator_convert_kmt_minkm_velocity">
    <fieldset>
        <legend>Konverter hastighed</legend>
        <div class="form-group">
            <label>Hastighed (km/t)</label>
            <input type="number" name="kmt" placeholder="km/t" step=".01">
        </div>
        <input type="submit" value="Beregn">
    </fieldset>
    <fieldset class="results">
        <div class="form-group">
            <label>Hastighed (min/km)</label>
            <input type="text" id="velocity_convert_minkm" disabled="disabled" class="input-mini">
        </div>
    </fieldset>
</form>
